/*Estilos generales de la pagina principal*/

html {
    background-color: #000;
    overflow-x: hidden;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: white;
    overflow: hidden;
}



.main-header {
    background-color: #1a1a1a;
    color: white;
    position: relative;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1rem;
}

.icon-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
}

.icon-btn img {
    width: 24px;
    height: 24px;
    filter: invert(100%);
    color: white;
}

.left-icons, .right-icons {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.navbar {
    background-color: #2a2a2a;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #2a2a2a;
    padding: 0.5rem 1rem;
    
}

.nav-links {
    list-style: none;
    padding: 1rem;
    margin: 0;
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #2a2a2a;
    z-index: 1000;
}

.nav-links.show {
    display: flex;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #ffa200;
}

.hero-slider {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.hero-slider:hover {
    transform: scale(1.02);
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active{
    opacity: 1;
}

#slider-caption {
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background: rgba(0,0,0,0.5);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}


.container-top {
    background-color: #111;
    padding: 2rem 1rem;
    color: white;
}

.container-top h2 {
    margin-bottom: 1rem;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.carrousel-track, .carrousel-track2, .carrousel-track3, .carrousel-track4{
    margin: 5px;
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
    width: 100%;
    padding-inline: 1rem 2rem;

}



.anime-card {
  flex: 0 0 auto;
  width: min(140px, 85vw);
  height: 230px;
  scroll-snap-align: start;
  position: relative;
  perspective: 1000px;
}

.anime-card2, .anime-card3, .anime-card4 {
    flex: 0 0 auto;
    width: min(140px, 85vw);
    height: 230px;
    scroll-snap-align: start;
    position: relative;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.anime-card:hover .card-inner {
    transform: scale(1.05);
}

.anime-card2:hover .card-inner, .anime-card3:hover .card-inner, .anime-card4:hover .card-inner {
    transform:scale(1.05);
}

.card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:0 ;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 0;
    box-shadow: none;
}



.anime-card img, .anime-card3 img, .anime-card2 img, .anime-card4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.card-front p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.6); /* fondo translúcido */
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    z-index: 2;
}



.carrousel-track::after,.carrousel-track2::after, .carrousel-track3::after, .carrousel-track4::after  {
    content: "";
    flex: 0 0 auto;
    width: 2rem;
}


.scroll-btn {
    display: none;
}


.search-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#search-input {
    width: 0;
    opacity: 0;
    padding: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: width 0.3s ease, opacity 0.3s ease;
    background-color: #fff;
    color: black;
    font-size: 0.9rem;
}

#search-input.show {
    width: 150px;
    opacity: 1;
    background-color: #111;
    color: white;
}



.noticias-container {
    color: white;
    background-color: #1a1a1a;
    
}

.noticias-container h2 {
    margin-bottom: 1rem;
    margin-top: 0;
    padding: 1rem;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.contenedor-extra h2 {
    text-align: left;
}

.contenedor-extra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
    width: 100%;
    gap: 1rem;
    padding-inline: 1rem;
    padding-bottom: 10px;
}

.contenedor-extra h3{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding-right: 3rem;
    
}

.contenedor-extra img {
    padding-top: 10px;
    width: 85%;
    height: 250px;
}

.contenedor-extra p {
    color: rgb(241, 241, 241);
    font-size: 0.9rem;
    padding-inline: 0.9rem; 
    padding-bottom: 0.5rem;
    box-sizing: border-box;
    padding-right: 3rem;
    text-align: justify;

}



.contenedor-extra button:hover {
    background-color: #062069;
    transform: translateY(-3px);
}

.noticia:hover {
    background-color: #444;
    transform: translateY(-3px);
}

.segundo-contenedor {
    display: grid;
    grid-template-columns: auto;
    padding: 1rem;
}

.segundo-contenedor h2 {
    text-align: left;
}

.noticias-columna {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    
}


.noticias-columna img {
    width: 20%;
    height: 70%;
}

.noticias-columna .text {
    padding: 0.5rem;
    color: white;
    width: 50%;
    text-align: justify;
}

.noticias-columna:hover {
    background-color: #444;
    transform: translateY(-3px);
}




footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
}

footer ul {
    list-style: none;
}


.windows8 {
	position: relative;
	width: 78px;
	height:78px;
	margin:auto;
}

.windows8 .wBall {
	position: absolute;
	width: 74px;
	height: 74px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 6.96s infinite;
		-o-animation: orbit 6.96s infinite;
		-ms-animation: orbit 6.96s infinite;
		-webkit-animation: orbit 6.96s infinite;
		-moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 10px;
	height: 10px;
	background: rgb(0,0,0);
	left:0px;
	top:0px;
	border-radius: 10px;
}

.windows8 #wBall_1 {
	animation-delay: 1.52s;
		-o-animation-delay: 1.52s;
		-ms-animation-delay: 1.52s;
		-webkit-animation-delay: 1.52s;
		-moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
	animation-delay: 0.3s;
		-o-animation-delay: 0.3s;
		-ms-animation-delay: 0.3s;
		-webkit-animation-delay: 0.3s;
		-moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
	animation-delay: 0.61s;
		-o-animation-delay: 0.61s;
		-ms-animation-delay: 0.61s;
		-webkit-animation-delay: 0.61s;
		-moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
	animation-delay: 0.91s;
		-o-animation-delay: 0.91s;
		-ms-animation-delay: 0.91s;
		-webkit-animation-delay: 0.91s;
		-moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
	animation-delay: 1.22s;
		-o-animation-delay: 1.22s;
		-ms-animation-delay: 1.22s;
		-webkit-animation-delay: 1.22s;
		-moz-animation-delay: 1.22s;
}


@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Fondo semi-transparente */
    backdrop-filter: blur(8px); /* Desenfoque */
    -webkit-backdrop-filter: blur(8px); /* Para Safari */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Encima de todo */
    transition: opacity 0.5s ease; /* Transición al desaparecer */
}

.loader.oculto {
    opacity: 0;
    pointer-events: none;
}



@media (min-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .navbar {
        display: block;
    }

    #menu-toggle {
        display: none;
    }


    .carrousel-track, .carrousel-track2, .carrousel-track3, .carrousel-track4 {
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .carrousel-track::-webkit-scrollbar, .carrousel-track2::-webkit-scrollbar, 
    .carrousel-track3::-webkit-scrollbar, 
    .carrousel-track4::-webkit-scrollbar {
        display: none;
    }



    .anime-card, .anime-card2, .anime-card3, .anime-card4 {
        width: 200px;
        height: 300px;
    }
    

    .scroll-btn {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0,0, 0.6);
        color: white;
        border: none;
        font-size: 2rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        z-index: 10;
    }

    .scroll-btn.left {
        left: 0;
    }

    .scroll-btn.right {
        right: 0;
    }

    .carousel-wrapper {
        position: relative;
    }

    .all-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
        align-items: start;
        padding: 1rem;
    }

    /* ----------- COLUMNA IZQUIERDA (DESTACADOS) ----------- */
    .contenedor-extra {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .contenedor-extra > div {
        background-color: #111;
        color: white;
        padding: 1rem;
        border-radius: 8px;
    }

    .contenedor-extra img {
        width: 100%;
        height: auto;
        border-radius: 4px;
        margin-bottom: 0.5rem;
    }

    .contenedor-extra h3 {
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .contenedor-extra p {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
        color: rgb(241, 241, 241);
    }


    /* ----------- COLUMNA DERECHA (MÁS RECIENTES) ----------- */
    .segundo-contenedor {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .segundo-contenedor h2 {
        font-size: 1.3rem;
        color: white;
        margin-bottom: 0.5rem;
    }

    /* Estilo para cada fila de noticia */
    .noticias-columna {
        display: flex;
        gap: 1rem;
        background-color: #111;
        padding: 1rem;
        border-radius: 8px;
        transition: background-color 0.3s ease;
    }

    .noticias-columna:hover {
        background-color: #1c1c1c;
    }

    .noticias-columna img {
        width: 130px;
        height: 80px;
        object-fit: cover;
        border-radius: 4px;
    }

    .noticias-columna .text {
        color: white;
        flex: 1;
    }

    .noticias-columna h3 {
        font-size: 1rem;
        margin: 0 0 0.5rem;
    }

    .noticias-columna p {
        font-size: 0.9rem;
        margin: 0 0 0.5rem;
        color: rgb(230, 230, 230);
    }

}