html, body {
    background-color: #1a1a1a;
    margin: 0;
}

.main-header {
    background-color: #000000;
    color: rgb(0, 0, 0);
    position: relative;
    padding: 0.5rem;
    border: 0;
    margin: 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1rem;
    background-color: #fff;
}

.icon-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
}

.icon-btn img {
    width: 24px;
    height: 24px;
    filter: invert(100%);
    color: rgb(0, 0, 0);
}

.left-icons, .right-icons {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#search-input {
    width: 0;
    opacity: 0;
    padding: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: width 0.3s ease, opacity 0.3s ease;
    background-color: #fff;
    color: black;
    font-size: 0.9rem;
}

#search-input.show {
    width: 150px;
    opacity: 1;
    background-color: #111;
    color: white;
}


.contenedor-padre, .contenedor-padre2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Mínimo 250px, expandir a 1fr */
    grid-template-rows: repeat(auto-fill, minmax(100px, auto)); /* Mínimo 100px, ajustar al contenido */
    row-gap: 1rem;
    justify-items: center;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin: 0 auto;
    width: 100%;
    
}


.fila-cartas, .fila-cartas2 {
    display: contents; 

}


.anime-card, .anime-card2 {
  flex: 0 0 auto;
  width: 100%;
  height: 230px;
  scroll-snap-align: start;
  position: relative;
  perspective: 1000px;
}

.anime-card, .anime-card2{
    flex: 0 0 auto;
    width: 75%;
    height: 330px;
    scroll-snap-align: start;
    position: relative;
    perspective: 1000px;

}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

.anime-card:hover .card-inner {
    transform: scale(1.05);
}

.anime-card:hover .card-inner{
    transform:scale(1.05);
}

.card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius:5px ;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 0;
    box-shadow: none;
}



.anime-card img, .anime-card2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.card-front p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.6); /* fondo translúcido */
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    z-index: 2;
}

.pagination{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

#prevBtn, #nextBtn {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}

#prevBtn:hover, #nextBtn:hover {
    background-color: #636363;
}


@media (max-width: 600px) {
    .main-header {
    background-color: #000000;
    color: white;
    position: relative;
    padding: 0.5rem;
    border: 0;
    margin: 0;
    }

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.7rem 1rem;
    }

    .icon-btn {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        color: white;
    }

    .icon-btn img {
        width: 24px;
        height: 24px;
        filter: invert(100%);
        color: white;
    }

    .left-icons, .right-icons {
        display: flex;
        align-items: center;
        gap: 0.7rem;
    }

    .search-container {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }


    #search-input {
        width: 0;
        opacity: 0;
        padding: 0.3rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: width 0.3s ease, opacity 0.3s ease;
        background-color: #fff;
        color: black;
        font-size: 0.9rem;
    }

    #search-input.show {
        width: 150px;
        opacity: 1;
        background-color: #111;
        color: white;
    }
}

